/* FONTS */
@import url(../fonts/volkhov/volkhov.css);
@import url(../fonts/poppins/poppins.css);

/* VARIABLES */
:root {
  --f-display: "Volkhov", sans-serif;
  --f-body: "Poppins", sans-serif;
  --c-brand: #181e4b;
  --c-body: #5e6282;
}

/* RESETS */
body {
  font-family: var(--f-body);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--f-display);
}

/* HELPERS */

/* DESTINATIONS */
